<div class="modal-header">
    <h3 class="modal-title">Add Folder</h3>
</div>
<div class="modal-body">
    <form name="addFolderName">
        <label for="folderName">Folder Name(14 Characters)<i class="star-require">*</i></label>
        <input type="text" class="form-control" placeholder="Folder Name" name="folderName" ng-model="vdo.folderName" ng-maxlength="14" required>
        <div ng-messages="addFolderName.folderName.$error" ng-if="addFolderName.folderName.$touched">
            <small class="warning-text" ng-message="maxlength">folder name is too long.</small>
            <small class="warning-text" ng-message="required">folder name is required.</small>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(vdo)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>
