<form name="addListForm">
    <div class="modal-header">
        <h3 class="modal-title"><span ng-if="vdo.isEdit">Edit</span><span ng-if="!vdo.isEdit">Add</span> List</h3>
    </div>
    <div class="modal-body">
        <div>
            <label for="listName">List Name <i class="star-require">*</i></label>
            <input type="text" class="form-control" placeholder="List Name" name="listName" ng-model="vdo.editList.listName" required ng-maxlength="14">
            <div ng-messages="addListForm.listName.$error" ng-if="addListForm.listName.$touched">
                <small class="warning-text" ng-message="maxlength">List name is too long than 14 Characters.</small>
                <small class="warning-text" ng-message="required">List name is required.</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(vdo)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
    </div>
</form>
