<form name="bookMarkForm" class="container">
    <div class="row home-container custom-form view-form">
        <div class="panel">
            <div class="panel-body">
               <h3 class="col-xs-7">{{board.boardName}}-Board</h3>
                <div class="col-xs-5 margin-tp-1">
                <button type="button" class=" col-xs-3 btn btn-primary pull-right" ng-click="vdo.addFolder(vdo)">-Delete List</button>
                <button type="button" class=" col-xs-3  btn btn-primary pull-right" ng-click="vdo.addFolder(vdo)">+Add List</button>
                </div>
                <div class="col-xs-12" ng-if="board.lists.length">
                    <div class="list-border" ng-repeat='list in board.lists' >
                        <div class="col-xs-2 text-center folder noPadding" ng-repeat="card in list.cards">
                            <h4 class="card-header" >{{card.cardName}}</h4>
                            <p>
                            <small class="small-class">Description : {{card.description}}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
