<form name="bookMarkForm" class="container">
    <div class="row home-container custom-form view-form">
        <div class="panel">
            <div class="panel-body">
                <h3>{{vdo.folderData.folderName}} Bookmarks</h3>
                <div class="pull-right margin-bt-1">
                    <button type="button" class="btn btn-primary" ng-click="vdo.addBookMark(vdo)">+Add Bookmarks</button>
                     <button type="button" class="btn btn-primary" ng-click="vdo.backToFolders(vdo)">Back to Folders</button>
                </div>
                <div class="col-xs-12">
                    <!-- <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" ng-model="userName"  class="form-control" >
                        {{userName}}
                    </div> -->
                    <div class="col-xs-12">
                        <div class="well col-xs-4 bookMarkFolder" ng-repeat='bookMark in vdo.folderData.bookMarks'>
                            <h4>{{bookMark.bookMarkName}}</h4>
                            <p>
                                <a>{{bookMark.bookMarkUrl}}</a>
                            </p>
                            <div class="pull-right">
                                <span class="pointer font-color-choc" ng-click="vdo.deleteBookMark(vdo,bookMark)">Delete</span>
                                <span class="pointer font-color-choc" ng-click="vdo.moveBookMark(vdo,bookMark)">Move</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- use ng-submit to catch the form submission and use our Angular function -->
            </div>
        </div>

    </div>
</form>
