/* BASIC STYLINGS
============================================================================= */

body {
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    background: url(../images/concrete-wall.jpg) no-repeat center center fixed;
    background-size: cover;
}
.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-default, .navbar-inverse {
    border: 0;
}
/*pre {
    margin-bottom: 20px;
}*/
/* form styling */

.home-container {
    margin-top: 100px;
}
#form-container .page-header {
    /*background: #151515;*/
    
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* _Table : table Header color*/
.panel{
    border-radius: 10px;
    background-color: #2d2d2d;
}

.panel-body h3{
    color:#e2e4e4;
}

.folder {
    background-color: #F1D83D;
    min-height: 130px;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 18px -8px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 15px 18px -8px rgba(0,0,0,0.58);
box-shadow: 0px 15px 18px -8px rgba(0,0,0,0.58);
    width: 160px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}

.card-header {
    border-bottom: 1px solid #cabd72;
    margin-top: 15px;
}

.card-header h6{
    margin:0px;
    fon
}
.small-class {
    font-size: 10px;
}
.warning-text {
    font-size: 10px;
    color: red;
}
.star-require {
    color: #ed1c24;
}
.btn {
    margin-left: 10px
}
.margin-bt-1 {
    margin-bottom: 20px;
}
.margin-bt-2{
     margin-bottom: 5px;
}
.margin-tp-1{
    margin-top:20px;
}
.list-bt{
    width: 100px;
    margin-top:5px;
}
.noPadding{
    padding: 0px
}
.bookMarkFolder {
    margin: 5px;
    width: 349px;
    height: 160px;
}
.pointer{
    cursor: pointer;
}
.font-color-choc{
    color:#D2691E;
}
.list-border{
   display: inline-block;
    padding:0 10px;
    border: 5px solid #52adc1;
    margin:10px;
    min-width: 400px;
}
